:root {
    --cyan: #06b6d4;
    --gray: #e5e7eb;
}

body {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;

    grid-template: 160px 1fr / 300px 1fr;
}

.main-content {
    grid-column: 2 / 3;
    background-color: #e5e7eb;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 /3;
    background-color: var(--cyan);
    display: grid;
    grid-template-rows: 60px repeat(11, 50px);
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    gap: 10px;
    padding-top: 10px;
}

.sidebar > div {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 60px 100px;
}

.upper-header {
    display: grid;
    grid-template-columns: auto 1fr 100px 60px 150px;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
}

.profile-pic {
    min-height: 50px;
    min-height: 50px;
    padding-top: 10px;
}

.profile-pic > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.search-icon {
    min-height: 25px;
    min-width: 25px;
    padding-top: 2px;
}

.bell {
    padding-top: 2px;
}

.id-upper-right {
    font-size: 20px;
}

.lower-header {
    display: grid;
    grid-template-columns: auto 7fr 5fr;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;
    padding-left: 50px;
    gap: 20px;
}

.big-profile-pic {
    padding-top: 5px;
}

.big-profile-pic > img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.header-id {
    font-size: 22px;
}

.button-area {
    display: grid;
    grid-template-columns: repeat(3, 2fr) 1fr;
    height: 35px;
    gap: 25px;
}

.dashboard {
    font-size: 25px;
}

.main-content {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.your-projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template: 30px 1fr 1fr 1fr/ 1fr 1fr;

    margin-left: 25px;

    margin-top: 30px;
}

#your-projects-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.card {
    background-color: white;
    display: grid;
    grid-template-rows: 4fr 2fr;
    border-radius: 6px;
    border-left: 7px solid orange;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 25px;
    margin-bottom: 25px;
    align-items: center;
}

.card-text {
    grid-row: 1 / 2;
}

.title {
    grid-row: 1 / 2;
    font-weight: bold;
}

.content {
    grid-row: 2 / 3;
    padding-top: 0px;
}

.icon-area {
    grid-row: 2 / 3;
}

/* .card-decoration {
    grid-row: 1 / 4;
    background-color: orange;
} */

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 30px 1fr;
    margin-top: 30px;
}

.announcement-header {
    font-weight: bold;
}

.announcements-area {
    background-color: white;
    margin-right: 30px;
    border-radius: 6px;
    padding: 15px 30px;
    display: grid;
    grid-row: repeat(3, 1fr);
}
.announcement {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 2px solid var(--gray);
}
.last {
    border-bottom: none;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 30px 1fr;
    margin-top: 30px;
}

.trending-area {
    background-color: white;
    margin-right: 30px;
    border-radius: 6px;
    padding: 15px 30px;
    display: grid;
    grid-row: repeat(4, 1fr);
}

.trend {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.trend-text {
    min-width: 140px;
}

.trend-profile-pic {
    min-height: 50px;
    min-width: 50px;
    padding-top: 5px;
    max-width: 50px;
    text-align: right;
}

.trend-profile-pic > img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.icon-area {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    gap: 30px;
}

button {
    background-color: var(--cyan);
    border: none;

    border-radius: 20px;
    color: white;
}

#search-bar {
    height: 28px;
    width: 600px;
    border-radius: 13px;
    border: none;
    background-color: var(--gray);
}
