@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
    --cyan: #06b6d4;
    --gray: #e5e7eb;

    --gray-text: #535353;
    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
    --shadow-large: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
}

body {
    margin: 0px;
    padding: 0px;
    display: grid;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    grid-template: auto 1fr / 300px 1fr;
}

p {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5 {
    padding: 0px;
    margin: 0px;
}
/* .container {
    display: grid;

    grid-template: 160px 1fr / 300px 1fr;
} */

.main-content {
    grid-column: 2 / 3;
    background-color: #e5e7eb;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 /3;
    background-color: var(--cyan);
    display: grid;
    grid-template-rows: 60px repeat(11, 50px);
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    gap: 10px;
    padding-top: 15px;
}

.sidebar > div {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 60px 120px;
    padding-top: 15px;
    box-shadow: var(--shadow-large);
    z-index: 1;
}

.upper-header {
    display: grid;
    grid-template-columns: auto 1fr 60px 60px 150px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
}

.profile-pic {
    min-height: 50px;
    min-height: 50px;
    padding-top: 10px;
}

.profile-pic > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.search-icon {
    min-height: 25px;
    min-width: 25px;
    padding-top: 2px;
}

.bell {
    padding-top: 8px;
    text-align: center;
}

.id-upper-right {
    font-size: 1.4rem;
    font-weight: bold;
}

.lower-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;
    padding-left: 50px;
    gap: 2rem;
}

.big-profile-pic {
    padding-top: 5px;
}

.big-profile-pic > img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.header-id {
    font-size: 1.5rem;
    font-weight: bold;
}

.button-area {
    display: grid;
    grid-template-columns: repeat(3, 6rem) 3rem;
    height: 2rem;
    gap: 1.5rem;
}

.dashboard {
    font-size: 25px;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 20rem;
}

.your-projects {
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: auto 1fr;

    margin-left: 2rem;

    margin-top: 2rem;
}

#your-projects-title {
    grid-row: 1 / 2;
}

.card-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: repeat(3, 1fr);
}

.card {
    background-color: white;
    display: grid;
    grid-template-rows: 4fr 2fr;
    border-radius: 0.5rem;
    border-left: 0.5rem solid orange;
    padding: 2rem;
    margin: 0rem 2rem 2rem 0rem;
    align-items: center;
    box-shadow: var(--shadow);
}

.card-text {
    grid-row: 1 / 2;
}

.title {
    grid-row: 1 / 2;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.content {
    grid-row: 2 / 3;
    padding-top: 0px;
    color: var(--gray-text);
}

.icon-area {
    grid-row: 2 / 3;
}

/* .card-decoration {
    grid-row: 1 / 4;
    background-color: orange;
} */

.announcements {
    grid-column: 2 / 3;
    margin: 2rem 2rem 0rem 0rem;
    grid-template-rows: 30px 1fr;
}

.announcement-header {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.announcements-area {
    font-size: 0.8rem;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    display: grid;
    grid-row: repeat(3, auto);
    box-shadow: var(--shadow);
}
.announcement {
    border-bottom: 1px solid var(--gray);
    padding: 1rem 0px;
}

.announcement-trending {
    display: grid;
    grid-template-rows: auto auto;
    align-content: flex-start;
}

.announcement-description {
    color: var(--gray-text);
}

.last {
    border-bottom: none;
    padding-bottom: 0px;
}

.first {
    padding-top: 0px;
}

.trending {
    grid-column: 2 / 3;
    margin: 2rem 2rem 0px 0px;
}

.trending-area {
    background-color: white;

    border-radius: 0.5rem;
    padding: 2rem;
    display: grid;
    grid-row: repeat(4, 1fr);
    justify-items: start;
    gap: 1rem;
    box-shadow: var(--shadow);
}

.trend {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    font-size: 0.9rem;
}

.trend-text {
    min-width: 8rem;
}

.trend-profile-pic {
    min-height: 50px;
    min-width: 50px;
    padding-top: 5px;
    max-width: 50px;
    text-align: right;
}

.trend-profile-pic > img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.trend-description {
    color: var(--gray-text);
    font-size: 0.8rem;
}

.icon-area {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    gap: 30px;
}

.content-title {
    margin-bottom: 1rem;
}

button {
    background-color: var(--cyan);
    border: none;

    border-radius: 20px;
    color: white;
}

#search-bar {
    height: 28px;
    max-width: 50rem;
    min-width: 40rem;
    border-radius: 13px;
    border: none;
    background-color: var(--gray);
}
